.mb-3 {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full height of the viewport */
}
form.search {
  overflow: auto;
  margin-bottom: 10px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}
